{% extends "master.html.twig" %}

{% block head %}
    {{ parent() }}
    <link href="css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script src="js/select2.min.js"></script>
    <script src="js/i18n/de.js"></script>
    <script src="js/addlending.js"></script>
{% endblock %}

{% block title %}Bücher ausleihen{% endblock %}

{% block content %}
    <div class="ym-grid">
        <h2>Bücher ausleihen</h2>
        <h3>Buch auswählen</h3>
        <form class="ym-form ym-columnar">
            <div class="ym-fbox">
                <label for="book">Buch auswählen</label>
                <select class="bookselector" name="book" id="book">
                    <option value="NotSet" selected="selected">Kein Buch ausgewählt</option>
                </select>
            </div>
        </form>
    </div>
{% endblock %}

