{% extends "master.html.twig" %}

{% block head %}
    {{ parent() }}
    <link href="css/select2.min.css" rel="stylesheet" />
    <link href="css/jquery-ui.min.css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script src="js/select2.min.js"></script>
    <script src="js/i18n/de.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/datepicker-de.js"></script>
    <script src="js/jquery.form-validator.min.js"></script>
    <script src="js/addlending.js"></script>
{% endblock %}

{% block title %}Bücher ausleihen{% endblock %}

{% block content %}
    <div class="ym-grid">
        <h2>Bücher ausleihen</h2>
        {% if data == "success" %}
            <div class="box success">
                <p>
                    Die Bücher wurden erfolgreich ausgeliehen.
                </p>
            </div>
        {% endif %}
        <h3>Buch auswählen</h3>
        <form class="ym-form ym-columnar" action="addLending.php" method="post">
            <div class="ym-fbox">
                <label for="book">Bücher auswählen</label>
                <select class="bookselector_lending bookselector" name="book" id="book" multiple="multiple">
                </select>
                <div class="ym-fbox">
                    <label for="lender">Ausleihen an:</label>
                    <input type="text" name="lender" data-validation="length" data-validation-length="min3" placeholder="Susi Musterfrau" />
                </div>
                <div class="ym-fbox">
                    <label for="class">Klasse:</label>
                    <input type="text" name="class" data-validation="length" data-validation-length="min1" placeholder="1a"/>
                </div>
                <div class="ym-fbox">
                    <label for="bringback">Voraussichtliches Rückgabedatum:</label>
                    <input type="text" name="bringback" id="bringback-date" placeholder="-"/>
                </div>
                <input type="hidden" name="ids" id="IDsToChange" />
                <div class="ym-fbox">
                    <label>&nbsp</label>
                    <button type="submit" class="save ym-save ym-success" id="submit">Absenden</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

