{% extends "master.html.twig" %}

{% block head %}
    {{ parent() }}
    <link href="css/select2.min.css" rel="stylesheet" />
    <link href="css/jquery-ui.min.css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script src="js/select2.min.js"></script>
    <script src="js/i18n/de.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/datepicker-de.js"></script>
    <script src="js/jquery.form-validator.min.js"></script>
    <script src="js/endlending.js"></script>
{% endblock %}

{% block title %}Bücher zurückgeben{% endblock %}

{% block content %}
    <div class="ym-grid">
        <h2>Bücher zurückgeben</h2>
        {% if data == "success" %}
            <div class="box success">
                <p>
                    Die Bücher wurden erfolgreich ausgeliehen.
                </p>
            </div>
        {% endif %}
        <h3>Ausleihung auswählen</h3>
        <form class="ym-form ym-columnar" action="endLending.php?action=getLending" method="post">
            <div class="ym-fbox">
                <label for="book">Name des Ausleihers oder der Klasse (oder ID der Ausleihung)</label>
                <select class="lendingselector" name="lending" id="lending">
                </select>
            </div>
        </form>
        <div style="display: none;" id="bookCheck">
            <h3>Rückgabe überprüfen</h3>
            <h4>Bücher überprüfen</h4>
            <p>
                Bitte überprüfen Sie die zurückgegebenen Bücher auf Schäden oder Unvollständigkeit und
                tragen Sie die gefundenen Mängel unten ein. 
            </p>
            
            <div id="accordion">
                
            </div>

            <br>

            <button type="submit" class="save ym-save ym-success ym-button float-right" id="submit">Akzeptieren und Bücher zurücknehmen.</button>
        </div>
        <div style="display: none;" id="result_success" class="box success">
            <p>
                Die Daten wurden erfolgreich eingespeichert und die Ausleihung wurde wieder zurückgegeben. 
            </p>
        </div>
        <div style="display: none;" id="result_failure" class="box error">
            <p>
                Es trat ein Fehler beim Speichern der Daten auf. Bitte teilen sie diesen Fehlercode ihrem Administrator mit:
            </p>
            <pre id="result_failure_code">
                
            </pre>
        </div>
    </div>
{% endblock %}

