{% extends "master.html.twig" %}

{% block title %}Bücher verwalten{% endblock %}

{% block head %}
    {{ parent() }}
    <link href="css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script src="js/select2.min.js"></script>
    <script src="js/i18n/de.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/datepicker-de.js"></script>
    <script src="js/jquery.form-validator.min.js"></script>
    <script src="js/managebooks.js"></script>
{% endblock %}

{% block content %}
    <h2>Verwaltung des Bibliothekinventars</h2>
    {% if data == "added" %}
        <div class="box success">
            <p>
                Das Buch/Die Bücher wurden erfolgreich hinzugefügt. 
            </p>
        </div>
    {% endif %}
    {% if data == "changed" %}
        <div class="box success">
            <p>
                Die Daten wurden erfolgreich geändert. 
            </p>
        </div>
    {% endif %}
    <h3>Buch hinzufügen</h3>
    <p>
        Um Bücher hinzuzufügen, tragen Sie die benötigten Daten bitte im folgenden Formular ein.
    </p>
    <form action="addBook.php" class="ym-form ym-columnar" method="post">
        <div class="ym-fbox">
            <label for="title">Titel:</label>
            <input type="text" name="title" placeholder="Titel unbekannt" required="required" />
        </div>
        <div class="ym-fbox">
            <label for="author">Autor:</label>
            <input type="text" name="author" placeholder="Autor unbekannt" />
        </div>
        <div class="ym-fbox">
            <label for="internalID">Interne ID (Stempel/Inschrift):</label>
            <input type="text" name="internalID" placeholder="Keine Interne ID" />
        </div>
        <div class="ym-fbox">
            <label for="publisher">Verlag:</label>
            <input type="text" name="publisher" placeholder="Verlag unbekannt" />
        </div>
        <div class="ym-fbox">
            <label for="year">Erscheinungsjahr:</label>
            <input type="number" name="year" placeholder="Erscheinungsjahr unbekannt" />
        </div>
        <div class="ym-fbox">
            <label for="place">Erscheinungsort:</label>
            <input type="text" name="place" placeholder="Erscheinungsort unbekannt" />
        </div>
        <div class="ym-fbox">
            <label for="lang">Sprache (2-Buchstaben Code):</label>
            <input type="text" name="lang" data-validation="length" data-validation-length="max2" placeholder="Sprache unbekannt" />
        </div>
        <div class="ym-fbox">
            <label for="features">Beilagen (CDs, DVDs, ...):</label>
            <input type="text" name="features" placeholder="Keine Beilagen" />
        </div>
        <div class="ym-fbox">
            <label for="condition">Zustand:</label>
            <input type="text" name="condition" placeholder="Keine Schäden" />
        </div>
        <div class="ym-fbox">
            <label for="count">Anzahl:</label>
            <input type="number" name="count" placeholder="1" />
        </div>
        <div class="ym-fbox">
            <label>&nbsp</label>
            <button type="submit" class="save ym-save ym-success" id="submit">Absenden</button>
        </div>
    </form>

    <h3>Buch ändern</h3>
    <p>Um einzelne Werte unverändert zu lassen, entfernen Sie bitte den Text aus dem jeweiligen Eingabefeld.</p>
    <form class="ym-form ym-columnar" action="changeBook.php" method="post">
        <div class="ym-fbox">
            <label for="book">Buch auswählen</label>
            <select class="bookselector" name="book" id="book" multiple="multiple">
            </select>
            <div class="ym-fbox">
                <label for="title">Titel:</label>
                <input id="editTitle" type="text" name="title" placeholder="" required="required" />
            </div>
            <div class="ym-fbox">
                <label for="author">Autor:</label>
                <input id="editAuthor" type="text" name="author" placeholder="" />
            </div>
            <div class="ym-fbox">
                <label for="internalID">Interne ID (Stempel/Inschrift):</label>
                <input id="editInternalID" type="text" name="internalID" placeholder="" />
            </div>
            <div class="ym-fbox">
                <label for="publisher">Verlag:</label>
                <input id="editPublisher" type="text" name="publisher" placeholder="" />
            </div>
            <div class="ym-fbox">
                <label for="year">Erscheinungsjahr:</label>
                <input id="editYear" type="number" name="year" placeholder="" />
            </div>
            <div class="ym-fbox">
                <label for="place">Erscheinungsort:</label>
                <input id="editPlace" type="text" name="place" />
            </div>
            <div class="ym-fbox">
                <label for="lang">Sprache (2-Buchstaben Code):</label>
                <input id="editLang" type="text" name="lang" data-validation="length" data-validation-length="max2" />
            </div>
            <div class="ym-fbox">
                <label for="features">Beilagen (CDs, DVDs, ...):</label>
                <input id="editFeatures" type="text" name="features" placeholder="" />
            </div>
            <div class="ym-fbox">
                <label for="condition">Zustand:</label>
                <input id="editCondition" type="text" name="condition" placeholder="" />
            </div>
            <input type="hidden" name="ids" id="IDsToChange" />
            <div class="ym-fbox">
                <label>&nbsp</label>
                <button type="submit" class="save ym-save ym-success" id="submit">Absenden</button>
            </div>
        </div>
    </form>
{% endblock %}