<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - Bibliotheksverwaltung</title>
        
        <link href="css/imports.css" rel="stylesheet" type="text/css"/>

        <!--[if lte IE 7]>
        <link href="yaml/core/iehacks.css" rel="stylesheet" type="text/css" />
        <![endif]-->

        <!--[if lt IE 9]>
        <script src="lib/html5shiv/html5shiv.js"></script>
        <![endif]-->
        {% endblock %}
    </head>
    <body>
        <div id="container">
        <header>
            <div class="ym-wrapper">
                <div class="ym-wbox">
                    <h1>Bibliotheksregister <span class='small'>© Max Heisinger 2015</span></h1>
                </div>
            </div>
            <nav id="nav">
                <div class="ym-wrapper">
                    <div class="ym-hlist">
                        <ul id="navigation">
                            {% for item in navigation %}
                                <li {% if item.page == current_page %} class="active" {% endif %}>
                                    <a href="{{item.href}}">{{item.caption}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div class="ym-wrapper">
                {% block content %}
                {% endblock %}
            </div>
            
        </main>
        <footer>
            <div class="ym-wrapper">
                <div class="ym-box">
                    Made by Max Heisinger - <a href="https://github.com/maximaximal/Bibliotheksverwaltung">GitHub</a>
                </div>
            </div>
        </footer>
        </div>
        {% block scripts %}
            <script src="js/jquery.min.js"></script>
        {% endblock %}
    </body>
</html>
{# empty Twig template #}
